
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Oswald:wght@200;300;400;500;600;700&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    /*font-family: 'Oswald', sans-serif;*/
}

header .line {
    height: 10px;
    background-color: #117050;
}

.container {
    max-width: 1140px;
    margin: auto;
}

.bar {
    background-color: #117050;
    width: 168px;
    height: 22px;
}

h1 {
    font-weight: bold;
    font-family: 'Oswald', sans-serif;
    font-size: 90px;
    line-height: 100px;
    margin: 0;
    margin-bottom: 30px;
}
h2 {
    font-weight: bold;
    font-family: 'Oswald', sans-serif;
    font-size: 35px;
    line-height: 45px;
    margin: 0;
}

.header--area {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}

.header--left img {
    width: 64px;
    height: 64px;
}

.header--search form {
    display: flex;
}

.header--search input {
    font-size: 16px;
    padding: 7px 10px;
    border: 1px solid #999999;
    outline: 0;
    width: 100%;
    max-width: 250px;
    padding: 8px 30px 8px 10px; 
}

.header--search button {
    border: 0;
    background: transparent;
    margin-left: -30px;
    cursor: pointer;
}

.header--search button img {
    height: 16px;
    width: 16px;
}

.header--right {
    display: flex;
    align-items: center;
}

.header--menu {
    margin-left: 50px;
    cursor: pointer;
}

.header--menu img {
    height: 24px;
    width: 24px;
}

.banner {
    background-image: url('../images/bg.jpg');
    background-position: center;
    background-size: cover;
    padding-bottom: 90px;
    padding-top: 90px;
}

.banner--images img {
    width: 148px;
    border: 6px solid #117050;
    border-radius: 50%;
    margin-top: 60px;
    margin-right: 30px;
}


.button {
    border: 2px solid #454545;
    border-radius: 3px;
    color: #454545;
    display: inline-block;
    padding: 10px 30px;
    text-decoration: none;
}

.button:hover {
    background-color: #454545;
    color: white;
}

.area1 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.area1 .area1--content {
    padding: 60px;
}

.area1--quote {
    margin-bottom: 30px;
}
.area1 .area1--img1 {
    background-image: url('../images/f2.jpg');
    background-size: cover;
    background-position: center;
    height: 350px;
}
.area1 .area1--img2 {
    background-image: url('../images/f1.jpg');
    background-size: cover;
    background-position: center;
    grid-column: 2 / 3;
    grid-row: 1 / span 2;
}

.area2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.area2 .area2--content {
    padding: 60px;
}

.area2 .area2--img1 {
    background-image: url('../images/f4.jpg');
    background-size: cover;
    background-position: center;
    height: 450px;
}
.area2 .area2--img2 {
    background-image: url('../images/f3.jpg');
    background-size: cover;
    background-position: center;
    grid-column: 1 / 2;
    grid-row: 1 / span 2;
}


.area3 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.area3 .area3--content {
    padding: 200px 60px;
    background-image: url('../images/bg2.jpg');
    background-size: cover;
    background-position: left bottom;
}

.area3 .area3--img1 {
    background-image: url('../images/f5.jpg');
    background-size: cover;
    background-position: center;
}

.area4 {
    display: grid;
    grid-template-columns: 33% 77%;
    background-color: #e8e9ee;
    overflow: hidden;
}

.area4--content {
    padding: 224px 60px;
}

.area4--img1 {
    background-image: url('../images/bg3.jpg');
    background-position: left;
    background-repeat: no-repeat;
}

.area5 {
    background-image: url('../images/bg4.jpg');
    background-size: cover;
    height: 600px;
}

footer {
    background-color: #333;
    color: white;
    padding: 80px;
    text-align: center;
    height: 100px;
}

@media (min-width: 769px) and (max-width: 1024px) {
    .container {
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media (min-width: 426px) and (max-width: 768px) {
    .container {
        padding-left: 20px;
        padding-right: 20px;
    }

    .area1 {
        grid-template-columns: 3fr 2fr;
    }

    .area2 {
        grid-template-columns: 2fr 3fr;
    }

    .area3 {
        grid-template-columns: 3fr 2fr;
    }
}

@media (max-width: 425px) {
    .container {
        padding-left: 20px;
        padding-right: 20px;
    }

    .header--search {
        max-width: 100px;
    }

    .header--menu {
        margin-left: 20px;
    }

    h1 {
        font-size: 50px;
        line-height: 50px;
    }
    h2 {
        font-size: 25px;
        line-height: 30px;
    }

    .banner--images img {
        width: 60px;
        height: 60px;
        border: 3px solid #117050;
        margin-right: 10px;
    }

    .area1 {
        grid-template-columns: 1fr;
    }

    .area1 .area1--content {
        padding: 40px;
    }

    .area1 .area1--img1 {
        background-size: contain;
        background-repeat: no-repeat;

    }

    .area2 {
        grid-template-columns: 1fr;
    }
    
    .area2 .area2--content {
        padding: 40px;
    }

    .area3 {
        grid-template-columns: 1fr;
    }

    .area3 .area3--content {
        padding: 40px;
    }

    .area4 {
        grid-template-columns: 1fr;
    }

    .area4 .area4--content {
        padding: 40px;
    }

    .area5 {
        height: 200px;
        background-position: center;
    }
}